@model GigBusiness.Models.CryptoCompare.Investment

@{
    var textColourClass = Model.Profitable ? "text-success" : "text-danger";
}

<div class="row">
    <div class="col border">
        <h5>@Model.Symbol</h5>
    </div>
    <div class="col border @textColourClass">
        <h5>$@Model.CurrentPrice</h5>
    </div>
    <div class="col border">
        <h5>@Model.Count</h5>
    </div>
    <div class="col border @textColourClass">
        <h5>@Model.CurrentValue</h5>
    </div>
    <div class="col border @textColourClass">
        <h5>$@Model.Profit</h5>
    </div>
</div>